/* Header Starts */
header {
  display: flex;
  width: 100%;
  padding: 20px 20px;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  width: 30%;
}
.logo img {
  width: 50px;
  filter: invert(70%) sepia(96%) saturate(558%) hue-rotate(359deg)
    brightness(103%) contrast(106%);
}
.logo p {
  color: white;
  font-size: 25px;
}
.menu {
  color: white;
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 30px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  color: #fec86a;
  transition: all 0.4s;
}
.mobile-menu {
  display: none;
}
.search {
  background-color: #3d3e42;
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-radius: 10px;
}
.search input {
  background-color: #3d3e42;
  outline: 0;
  border: 0;
  padding: 10px;
  border-radius: 10px;
}
.search input::placeholder {
  color: #98999a;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}
.search i {
  color: #98999a;
  cursor: pointer;
}
.search input[type="text"] {
  color: white;
  font-size: 15px;
  text-transform: capitalize;
}
button#signoutbutton {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  background: #fec86a;
  cursor: pointer;
}
.signout-mobile {
  display: flex;
  gap: 30px;
}
#hamburger {
  display: none;
}
#close-menu {
  display: none;
}
.mobile-menu {
  display: none;
}
.mobile-menu-container {
  display: none;
}
